



/* ==========================================================================

   Johnny escudero j.escudero@kol3.com

   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

.container {

width: 100%;

max-width: 100%;



}
.navbar.navbar-default.navbar-fixed-top {
background: rgba(0, 152, 95, 1);
}
.btn-success{
	background: rgba(0, 152, 95, 1);
}

.navbar-default .navbar-brand {

color: #FFF;

}

.navbar-default .navbar-nav>li>a {

color: #FFF;

border-top: 3px solid #4CA753;

}

.navbar-default {border:none}

.navbar .navbar-nav>.active>a {

background-color: #970000;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

color: #FFF;

background: #4CA753;

border-top: 3px solid #fff;

}



.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {

color: #FFF;

background-color: #4CA753;

border-top: 3px solid #4CA753;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

color: #FFF;}



body {

	background: #fff top no-repeat;

	font-family: 'Cabin', sans-serif;

	font-size: 15px;}

.table{

	background:#fff}



.miuralogo, .miuralogin{

	margin-top:30px;}

.jumbotron {

	background: #fff;

}
.none{
	display: none;
}
.personaje{

	position: absolute;

width: 375PX;

top: -25PX;

left: -6px;

}

.logviejo{

	position: relative;

	top: 127px;

	z-index: 22;

	left: -20px;

}

.text1{

	

	text-align: center;

	font-size: 15px;

}

.login1{

	margin-top: 20px;

}

.form-control, input {

	background-color: #fff;

}





.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {

z-index: 2;

color: #FFF;

cursor: default;

background-color: #4CA753;

border-color: #4CA753;

}



.btn a{

	color: #fff;

}

a {

	color: #4CA753;

}

.navbar a{

	color:#fff;}

footer{

	color:#fff;}



.btn-group{

	position: relative;

}


.options .btn-group {
position: relative;
float: right;
}

#map-canvas {

		width: 100%;

		height: 94vh;

	}

.options {

width: 300px;
right: 0px;
top: 0px;
background: rgba(255, 255, 255, 0.91);
padding-top: 107px;
position: fixed;
height: 100%;
z-index: 500;

}
.options > div {

overflow: auto;
height: 100%;
position: relative;
padding: 17px 0px;

}

.options div > ul{
	list-style: none;
border-bottom: 1px solid #CCC;
padding: 4px 14px;}

.options div > ul ul{
	list-style: none;
padding-top: 8px;
padding-left: 10px;}

.list-group {

	border-radius: 4px;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);

	box-shadow: 0 1px 2px rgba(0,0,0,.075);

}

.barras {
	background: url(../img/barrasDow.png) #fff left top no-repeat;
	width: 100%;
	height: 208px;
	position: relative;
}

.forLogo {
background: #fff;
display: inline-block;
width: 100%;
}
.logfooter {
margin-left: 49px;
padding-top: 20px;
padding-bottom: 20px;
float: left;
display: inline-block;
}

.slogan {
margin-right: 38px;
margin-top: 36px;
font-family: times New Roman;
color: #929292;
font-style: italic;
}
.blanco{
	background: #fff !important;
}

.blanco a{
	padding: 0px;
}


.top2{
	top: 53px !important; 
	z-index: 1030;
}

.almacenes{
	padding: 5px;
	font-size: 13px;
	color: #850202;
}
.almacenes a{
	color: #850202;
}














